/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 6px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Zilla Slab', serif !important;
}

* {
  font-family: 'Avenir', sans-serif;
}

h5 {
  font-size: 20px !important;
}

.card {
  margin-bottom: 15px !important;
}

a:hover {
  text-decoration: none !important;
}

.tiny-head {
  font-family:'Avenir', sans-serif !important;
  font-weight: 900 !important;
  font-size: 12px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
}

.btn-info {
  font-size: 12px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  background-color: #8bc3e5 !important;
  border: 2px solid #8bc3e5 !important;
  border-radius: 5px !important;
}

.head-icon {
  margin-top:-5px;
  margin-right:5px;
}

.text-info {
  color: #8bc3e5 !important;
}

.card {
  border-radius: 5px !important;
  border-width: 2px !important;
}

hr {
  border-width: 2px !important;
}

.buy-link {
  font-family:'Zilla Slab', serif !important;
  font-weight:600;
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}

.buy-link:hover {
  color: #8bc3e5;
  text-decoration: underline !important;
}

.products {
  font-family:'Zilla Slab', serif;
  font-weight: 300 !important;
  font-size: 18px;
}

.search-tbl input {
  height: 80% !important;
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  border-width: 2px !important;
  font-size: 14px !important;
}

.sorting {
  text-transform: uppercase !important;
  font-size: 10px !important;
  font-family: 'Avenir', sans-serif !important;
  margin-left: 5px !important;
  color: #ccc;
  font-style: italic !important;
  font-weight: 300 !important;
}